################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashCompass/.vs/CashCompass/FileContentIndex
/CashCompass/packages
*.vsidx
*.v2
CashCompassBackEnd/RestAPI/.vs/RestAPI/v17/.suo
*.cache
