# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos gerados automaticamente
.env
.DS_Store

# Logs
logs/
*.log

# Outros
*.tmp
*.temp
*.swp
Thumbs.db

# Arquivos de configuração local (por exemplo, configurações de IDE)
.local/

# Arquivos e pastas de configuração
/.pnp
.pnp.js
/cache
/.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
/build
/dist

# Arquivos de configuração do editor
/.vscode
/.idea
